@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: 'Mooli', sans-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0;
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    align-items: center;  
}
/* Header */
header {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center; 
    padding: 1em;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h1 {
    font-family: var(--secondary-font);
    margin: 0;
}
/* Navigation section */
nav {
    display: flex;
    justify-content: center; 
    background-color: var(--primary-color);
    padding: 0.5em;
    width: 100%; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
}

nav ul li {
    display: inline;
}

nav a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 1em;
}

nav a:hover {
    color: var(--secondary-color);
}
/* Hides menu on smaller screens*/
.hide {
    display: none;
}

/* Menu button*/
.menu-button {
    display: block;
    background: none;
    border: none;
    color: var(--text-light);
    font-size: 1.2em;
    cursor: pointer;
}

.menu-button:hover {
    color: var(--secondary-color);
}
/* Gallery format/img */
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
    max-width: 100%;
    justify-items: center; 
}

.gallery figure {
    margin: 0;
    text-align: center;
}

.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    max-width: 100%;
}

main {
    text-align: center; 
    width: 100%;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center; 
    padding: 1em;
    width: 100%; 
}

/* Viewer */
.viewer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: grid;
    place-items: center;
    z-index: 10;
}

.viewer img {
    max-width: 90%;
    max-height: 100%;

}

.close-viewer {
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

@media (min-width: 600px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        max-width: 800px;
        margin: auto;
    }
}

@media (min-width: 900px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        margin: auto;
    }
    
    .menu-button {
        display: none;
    }
}


